<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login form</title>
    <style>
      .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7rem 0;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <form action="">
        <input type="text" placeholder="Enter your username" />
        <input type="email" placeholder="Enter your email" />
        <input type="password" placeholder="Enter your password" />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
